h1 {
    text-align: center;
    color: red;
    text-shadow: 4px 4px 5px rgba(255, 0, 0, 0.459);
}
.description {
    color: rgb(112, 194, 116);
}

#italic {
    color: orange;
}

nav {
    background-color: magenta;
    text-align: center;
}
.nav-wrapper {
    background-color: blue;
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}

.container {
    border: 10px dashed black;
    margin: 50px 5px;
    padding: 30px 0px 10px 35px;
}

.box {
    height: 300px;
    width: 300px;
    background: blue;
    margin: 20px;
}



@keyframes fadeMe {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#box2 {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    -moz-animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange, yellow, pink, purple);
}
@keyframes getBigger {
    0%{transform: scale(1);}
    50%{transform: scale(2);}
    100%{transform: scale(.5);}
}

#box3 {
    animation: getBigger infinite 8s ease-in;
    border-radius: 50%;
    background: rgb(221, 201, 20);
}

@keyframes  changeColors {
    0%{background-color: grey;}
    25%{background-color:  purple;}
    50%{background-color: pink;}
    75%{background-color: red;}
    100%{background-color: grey;}
}

#box4 {
    animation: changeColors 3s 2s forwards;
}

@keyframes moveBox {
    0%{left: 0px; top: 0px;}
    25%{left: 100px; top: 0px;}
    50%{left: 100px; top: 200px;}
    75%{left: 0px; top: 200px;}
    100%{left: 0px; top: 0px;}
}

#box5 {
    position: relative;
    animation: moveBox 5s 3s;
    background: orangered;
}

#box6 {
    top: 10px;
    bottom: 20px;
    position: relative;

}

html {
    background-image: white;
}

.circleImg {
    border-radius: 50%;
}

img {
    box-shadow: 10px 5px 10px 8px rgb(61, 61, 57);
}

.flex {
    /* https://flexboxfroggy.com */
    margin: 30px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; /* center, flex-start, flex-end, space-between, space-around */
    flex-direction: row-reverse; /*column-reverse, row-reverse*/
}
form input, textarea, button {
    display: block;
    margin: 30px;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.row {
    margin: 30px;
}

.input-field {
    margin: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: white;
    color: #444;
}

.Box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

}

.a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.c {
    grid-column: col / span 5;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(red, blue, yellow);
}
.d {
    grid-column: col  / span  3  ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
}

.e {
    grid-column: col 3 / span  3;
    grid-row: row 3;
    display: flex;
    justify-content: center;
}

.f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(yellow, blue, red);
}